@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    min-width: 0;
}

input {
    color-scheme: dark
}

.rdp-day_selected {
    background: #8EF264;
    color: black;
}

#day {
    background: #8EF264;
}

@media(max-width: 640px) {
    .rdp {
        --rdp-cell-size: 26px;
        --rdp-caption-font-size: 16px;
    }
}